.hentry
  h1.page-title.entry-title
    a(href='#') Order Received
  .woocommerce
    p Thank you. Your order has been received.
    ul.order_details
      li.order
        | Order:
        strong #1596
      li.date
        | Date:
        strong November 28, 2013
      li.total
        | Total:
        strong
          span.amount Rp417
      li.method
        | Payment method:
        strong Direct Bank Transfer
    .clear
    p
      | Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wont be shipped until the funds have cleared inour account.
    h2 Our Details
    ul.order_details.bacs_details
    h2 Order Details
    table.shop_table.order_details
      thead
        tr
          th.product-name Product
          th.product-total Total
      tfoot
        tr
          th(scope='row') Cart Subtotal:
          td
            span.amount Rp417
        tr
          th(scope='row') Shipping:
          td Free Shipping
        tr
          th(scope='row') Order Total:
          td
            span.amount Rp417
      tbody
        tr.order_table_item
          td.product-name
            a(href='#') Flying Ninja
            strong.product-quantity × 1
            dl.variation
          td.product-total
            span.amount Rp12
        tr.order_table_item
          td.product-name
            a(href='#') Happy Ninja
            strong.product-quantity × 1
            dl.variation
          td.product-total
            span.amount Rp18
        tr.order_table_item
          td.product-name
            a(href='#') Happy Ninja
            strong.product-quantity × 1
            dl.variation
          td.product-total
            span.amount Rp35
        tr.order_table_item
          td.product-name
            a(href='#') Ninja Silhouette
            strong.product-quantity × 1
            dl.variation
          td.product-total
            span.amount Rp20
        tr.order_table_item
          td.product-name
            a(href='#') Ninja Silhouette
            strong.product-quantity × 1
            dl.variation
          td.product-total
            span.amount Rp35
        tr.order_table_item
          td.product-name
            a(href='#') Patient Ninja
            strong.product-quantity × 1
            dl.variation
          td.product-total
            span.amount Rp35
        tr.order_table_item
          td.product-name
            a(href='#') Premium Quality
            strong.product-quantity × 1
            dl.variation
          td.product-total
            span.amount Rp20
        tr.order_table_item
          td.product-name
            a(href='#') Premium Quality
            strong.product-quantity × 1
            dl.variation
          td.product-total
            span.amount Rp12
        tr.order_table_item
          td.product-name
            a(href='#') Ship Your Idea
            strong.product-quantity × 10
            dl.variation
              dt Color:
              dd Black
              dt tinggi:
              dd 1km, 2km, 3km
          td.product-total
            span.amount Rp200
        tr.order_table_item
          td.product-name
            a(href='#') Ship Your Idea
            strong.product-quantity × 1
            dl.variation
              dt Color:
              dd Blue
          td.product-total
            span.amount Rp30
    header
      h2 Customer details
    dl.customer_details
      dt Email:
      dd indaam@gmail.com
      dt Telephone:
      dd 08525555555
    .col2-set.addresses
      .col-1
        header.title
          h3 Billing Address
        address
          p
            | indam why
            br
            | ICL
            br
            | Jalan Piit No 1
            br
            | Apartement(Optional)
            br
            | Bandung
            br
            | Jawa Barat
            br
            | 40133
      .col-2
        header.title
          h3 Shipping Address
        address
          p
            | indam why
            br
            | ICL
            br
            | Jalan Piit No 1
            br
            | Apartement(Optional)
            br
            | Bandung
            br
            | Jawa Barat
            br
            | 40133
    .clear
