include ../asset/mixin
nav.account-menu
  ul.account-top
    li.my-account
      a(href='#') my account
    li.my-login
      a(href='#') login
    li.my-logout
      a(href='#') logout
    li.my-cart
      a.cart-text(href='#')
        | my carts
        span.mycart 12
      ul.cart-data
        +woo_cart_widget
    li.search
      a.open-search(href='#')
        | search
      ul.search-data
        +searcform
