include ../asset/mixin

#widget-bottom.widget-bottom
  .inner.container
    .widget-col
        +best_sellers
    // End .widget-col
    .widget-col
        +recent_reviews
    // End .widget-col
    .widget-col
        +recent_products
    // End .widget-col
    .widget-col
        +random_products
    // End .widget-col
  // End .inner.container
// End #widget-bottom .widget-bottom