include ../asset/mixin
#primary-slider.flexslider
  ul.slides
    // start loop here from LI
    li.list-slider.slider1
      .img-frame
        img(src='dummy/walpeper/1.jpg')
        .container-text
          .container
            p.text-title Full responsive
            p.text-des Responsive for all device

    li.list-slider.slider2
      .img-frame
        img(src='dummy/walpeper/2.jpg')
        .container-text
          .container
            p.text-title Full responsive
            p.text-des Responsive for all device

    li.list-slider.slider3
      .img-frame
        img(src='dummy/walpeper/3.jpg')
        .container-text
          .container
            p.text-title Full responsive
            p.text-des Responsive for all device

    li.list-slider
      .img-frame
        img(src='dummy/walpeper/4.jpg')
        .container-text
          .container
            p.text-title Full responsive
            p.text-des Responsive for all device

    li.list-slider.slider4
      .img-frame
        img(src='dummy/walpeper/4.jpg')
        .container-text
          .container
            p.text-title Full responsive
            p.text-des Responsive for all device