.tabs-wrap
  ul.tabs-nav
    li.active
      a(href='#tab-1') btn tab-1
    li
      a(href='#tab-2') btn tab-2
    li
      a(href='#tab-3') btn tab-3

  #tab-1.panel.content_active(style='display: block;')
    // content tab-1

  #tab-2.panel(style='display: none;')
    // content tab-2

  #tab-3.panel(style='display: none;')
    // content tab-3
