section.banner-wrap
  .banner
    a.banner-data(href='#')
      img(src='dummy/banner.jpg', alt='')
      span.banner-title t-sirt
  // End .banner
  .banner
    a.banner-data(href='#')
      img(src='dummy/banner.jpg', alt='')
      span.banner-title Jeans
  // End .banner
  .banner
    a.banner-data(href='#')
      img(src='dummy/banner.jpg', alt='')
      span.banner-title Bikini
  // End .banner
// End .banner-wrap