.blog-home
  article.hentry.format-Standard
    .entry-container
      .framebox
        img(src="dummy/blog-img.jpg", alt="")
      // End framebox
      header.entry-header
        h2.entry-title
          a(href='#') format Standard
      .entry-meta
        time.published(datetime='2012-01-07T07:07:21+00:00', title='Saturday, January 7th, 2012, 7:07 am') January 7, 2012
        span.author.vcard
          a.url.fn.n(rel='author', href='#', title='themedemos') themedemos
        span.comments-link
          a(href="#") one comment
      .entry-summary
        .read-more
          a(href="#") Continue Reading →
      .entry-meta
        span.post_tag
          span.before Tags:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') templates
        span.category
          span.before Posted in:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template

  // End .hentry

  article.hentry.format-aside
    .entry-container
      .framebox
        img(src="dummy/blog-img.jpg", alt="")
      // End framebox
      header.entry-header
        h2.entry-title
          a(href='#') Format Aside
      .entry-meta
        time.published(datetime='2012-01-07T07:07:21+00:00', title='Saturday, January 7th, 2012, 7:07 am') January 7, 2012
        span.author.vcard
          a.url.fn.n(rel='author', href='#', title='themedemos') themedemos
        span.comments-link
          a(href="#") one comment
      .entry-summary
        .read-more
          a(href="#") Continue Reading →
      .entry-meta
        span.post_tag
          span.before Tags:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') templates
        span.category
          span.before Posted in:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template
  // End .hentry

  article.hentry.format-audio
    .entry-container
      .framebox
        img(src="dummy/blog-img.jpg", alt="")
      // End framebox
      header.entry-header
        h2.entry-title
          a(href='#') Format Audio
      .entry-meta
        time.published(datetime='2012-01-07T07:07:21+00:00', title='Saturday, January 7th, 2012, 7:07 am') January 7, 2012
        span.author.vcard
          a.url.fn.n(rel='author', href='#', title='themedemos') themedemos
        span.comments-link
          a(href="#") one comment
      .entry-summary
        .read-more
          a(href="#") Continue Reading →
      .entry-meta
        span.post_tag
          span.before Tags:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') templates
        span.category
          span.before Posted in:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template
  // End .hentry

  article.hentry.format-image
    .entry-container
      .framebox
        img(src="dummy/blog-img.jpg", alt="")
      // End framebox
      header.entry-header
        h2.entry-title
          a(href='#') Format Image
      .entry-meta
        time.published(datetime='2012-01-07T07:07:21+00:00', title='Saturday, January 7th, 2012, 7:07 am') January 7, 2012
        span.author.vcard
          a.url.fn.n(rel='author', href='#', title='themedemos') themedemos
        span.comments-link
          a(href="#") one comment
      .entry-summary
        .read-more
          a(href="#") Continue Reading →
      .entry-meta
        span.post_tag
          span.before Tags:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') templates
        span.category
          span.before Posted in:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template
  // End .hentry

  article.hentry.format-link
    .entry-container
      .framebox
        img(src="dummy/blog-img.jpg", alt="")
      // End framebox
      header.entry-header
        h2.entry-title
          a(href='#') Format Link
      .entry-meta
        time.published(datetime='2012-01-07T07:07:21+00:00', title='Saturday, January 7th, 2012, 7:07 am') January 7, 2012
        span.author.vcard
          a.url.fn.n(rel='author', href='#', title='themedemos') themedemos
        span.comments-link
          a(href="#") one comment
      .entry-summary
        .read-more
          a(href="#") Continue Reading →
      .entry-meta
        span.post_tag
          span.before Tags:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') templates
        span.category
          span.before Posted in:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template
  // End .hentry

  article.hentry.format-quote
    .entry-container
      .framebox
        img(src="dummy/blog-img.jpg", alt="")
      // End framebox
      header.entry-header
        h2.entry-title
          a(href='#') Format Qoute
      .entry-meta
        time.published(datetime='2012-01-07T07:07:21+00:00', title='Saturday, January 7th, 2012, 7:07 am') January 7, 2012
        span.author.vcard
          a.url.fn.n(rel='author', href='#', title='themedemos') themedemos
        span.comments-link
          a(href="#") one comment
      .entry-summary
        .read-more
          a(href="#") Continue Reading →
      .entry-meta
        span.post_tag
          span.before Tags:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') templates
        span.category
          span.before Posted in:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template
  // End .hentry

  article.hentry.format-status
    .entry-container
      .framebox
      // End framebox
      header.entry-header
        h2.entry-title
          a(href='#') Format Status
      .entry-meta
        time.published(datetime='2012-01-07T07:07:21+00:00', title='Saturday, January 7th, 2012, 7:07 am') January 7, 2012
        span.author.vcard
          a.url.fn.n(rel='author', href='#', title='themedemos') themedemos
        span.comments-link
          a(href="#") one comment
      .entry-summary
        p
          | This is a sticky post. There are a few things to verify: The sticky post should be distinctly recognizable in some way in comparison to normal posts. You can style the .sticky class if you are using the post_class() function to generate your post classes, which is a best practice. They should show at the very top
        .read-more
          a(href="#") Continue Reading →
      .entry-meta
        span.post_tag
          span.before Tags:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') templates
        span.category
          span.before Posted in:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template
  // End .hentry

  article.hentry.format-video
    .entry-container
      .framebox
        iframe(width='670', height='377', src='http://www.youtube.com/embed/nwe-H6l4beM?feature=oembed', frameborder='0', allowfullscreen='allowfullscreen')
      // End framebox
      header.entry-header
        h2.entry-title
          a(href='#') Format Video
      .entry-meta
        time.published(datetime='2012-01-07T07:07:21+00:00', title='Saturday, January 7th, 2012, 7:07 am') January 7, 2012
        span.author.vcard
          a.url.fn.n(rel='author', href='#', title='themedemos') themedemos
        span.comments-link
          a(href="#") one comment
      .entry-summary
        p
          | This is a sticky post. There are a few things to verify: The sticky post should be distinctly recognizable in some way in comparison to normal posts. You can style the .sticky class if you are using the post_class() function to generate your post classes, which is a best practice. They should show at the very top
        .read-more
          a(href="#") Continue Reading →
      .entry-meta
        span.post_tag
          span.before Tags:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template
        span.category
          span.before Posted in:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template
  // End .hentry

  article.hentry.format-gallery
    .entry-container
      .framebox
        ul
          li
            img.attachment-tokokoo_gallery(width='290', height='290', alt='product', src='http://192.168.1.87/indaam/wp/wp-content/uploads/2010/08/product.jpg')
          li
            img.attachment-tokokoo_gallery(width='330', height='300', alt='product-slider', src='http://192.168.1.87/indaam/wp/wp-content/uploads/2010/08/product-slider.jpg')
          li
            img.attachment-tokokoo_gallery(width='630', height='290', alt='blog-img', src='http://192.168.1.87/indaam/wp/wp-content/uploads/2010/08/blog-img.jpg')
          li
            img.attachment-tokokoo_gallery(width='290', height='290', alt='portfolio', src='http://192.168.1.87/indaam/wp/wp-content/uploads/2010/08/portfolio.jpg')
      // End framebox

      header.entry-header
        h2.entry-title
          a(href='#') Format format-gallery
      .entry-meta
        time.published(datetime='2012-01-07T07:07:21+00:00', title='Saturday, January 7th, 2012, 7:07 am') January 7, 2012
        span.author.vcard
          a.url.fn.n(rel='author', href='#', title='themedemos') themedemos
        span.comments-link
          a(href="#") one comment
      .entry-summary
        p
          | This is a sticky post. There are a few things to verify: The sticky post should be distinctly recognizable in some way in comparison to normal posts. You can style the .sticky class if you are using the post_class() function to generate your post classes, which is a best practice. They should show at the very top
        .read-more
          a(href="#") Continue Reading →
      .entry-meta
        span.post_tag
          span.before Tags:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template
        span.category
          span.before Posted in:
          a(href='#', rel='tag') sticky
          | ,
          a(href='#', rel='tag') template

  // End .hentry

// End .blog-home
