.features-subscribe.features-col
  .inner
    h2.title-subscribe.features-title subscribe now!
    p.desctiption-subscribe subscribe to our newletter.
    .content-subscribe
      .form-wrap

        // Form by MailChimp for WordPress plugin v1.4.7 - http://dannyvankooten.com/mailchimp-for-wordpress/
        form#mc4wp-form-1.mc4wp-form.form(action='#', method='post')
          input.input-text(type='email', required='required', placeholder='Your email address', name='EMAIL')
          input(type='submit', value='Subscribe')
          textarea(style='display: none;', name='mc4wp_required_but_not_really')
          input(type='hidden', value='1', name='mc4wp_form_submit')
          input(type='hidden', value='1', name='mc4wp_form_instance')
          input(type='hidden', value='9169cf3804', name='mc4wp_form_nonce')
        // / MailChimp for WP Plugin
