h2.title-latast.features-title Latest post
.content-latast
  ul.list-latest
    // Start looping here

    li
      a(href="#") lorem ipsum is emmet
    li
      a(href="#") lorem ipsum is emmet
    li
      a(href="#") lorem ipsum is emmet
    li
      a(href="#") lorem ipsum is emmet
    li
      a(href="#") lorem ipsum is emmet
