.theme-features
  .container
    .theme-features-col
      .inner
        .theme-features-img
          img(src="dummy/features/theme-features4.png", alt="")
        h3.theme-features-title Flexsible layout
        p.theme-features-text iciis quae sulestiae porro harum debitis eum consequatur ratione ducimus eius officiis veritatis

    .theme-features-col
      .inner
        .theme-features-img
          img(src="dummy/features/theme-features1.png", alt="") 
        h3.theme-features-title Free Updates
        p.theme-features-text iciis quae sulestiae porro harum debitis eum consequatur ratione ducimus eius officiis veritatis


    .theme-features-col 
      .inner
        .theme-features-img
          img(src="dummy/features/theme-features5.png", alt="") 
        h3.theme-features-title Unlimited color & more
        p.theme-features-text iciis quae sulestiae porro harum debitis eum consequatur ratione ducimus eius officiis veritatis

    .theme-features-col
      .inner
        .theme-features-img 
          img(src="dummy/features/theme-features3.png", alt="") 
        h3.theme-features-title Easy use
        p.theme-features-text iciis quae sulestiae porro harum debitis eum consequatur ratione ducimus eius officiis veritatis
