include asset/mixin

+head("blog", "font_url")

+footer_menu
+woo_images
+woo_cart_widget
+add_js
+blog_home_default
+blog_home
//- +blog_single
+pagination

+tokokoo_archive
+woo_variations_form
+product_meta
+woo_tabs
+woo_resul_count
+woo_ordering
+woo_ordering_ul
+woo_message
+woo_message_error
+woo_star_rating
+woo_price
+woo_single_price
+woo_onsale
+woo_title_product("title of product")
+woo_title_product_single("title of product")
+woo_button
+new_social
+woo_summary("jus text")
+related_products
+upsells_products
+page_title
+entry_meta_time
+entry_meta_tag
+entry_meta_category
+entry_meta_author
+entry_summary("This is a sticky post. There are a few things to verify: The sticky post should be distinctly recognizable in some way in comparison to normal posts. You can style the .sticky class if you are using the post_class() function to generate your post classes, which is a best practice. They should show at the very top")
+entry_title("just entry title")

+t("header_logo & header_text")
+header_logo
+header_text

+t("searcform & primary_menu")
+searcform
+primary_menu

+t("page_title")
+page_title("just page title")

+t("woo_onsale")
+woo_onsale

+t("woo_message_error")
+woo_message_error

+t("woo_message")
+woo_message

+t("woo_resul_count")
+woo_resul_count

+t("woo_title_product")
+woo_title_product("title of product")

+t("woo_title_product_single")
+woo_title_product_single("title of product")

+t("woo_price")
+woo_price

+t("woo_single_price")
+woo_single_price

+t("woo_summary")
+woo_summary("jus text")

+t("woo_variations_form")
+woo_variations_form

+t("woo_tabs")
+woo_tabs

+t("woo_ordering")
+woo_ordering

+t("woo_ordering_ul")
+woo_ordering_ul

+t("woo_star_rating")
+woo_star_rating

+t("new_social")
+new_social

+t("woo_button")
+woo_button

+t("product_meta")
+product_meta

+t("related_products")
+related_products

+t("upsells_products")
+upsells_products

+t("pagination")
+pagination

+t("entry_title")
+entry_title("just entry title")

+t("entry_summary")
+entry_summary("This is a sticky post. There are a few things to verify: The sticky post should be distinctly recognizable in some way in comparison to normal posts. You can style the .sticky class if you are using the post_class() function to generate your post classes, which is a best practice. They should show at the very top")

+t("entry_meta_author")
+entry_meta_author

+t("entry_meta_time")
+entry_meta_time

+t("entry_meta_tag")
+entry_meta_tag

+t("entry_meta_category")
+entry_meta_category

+t("tokokoo_archive")

+tokokoo_archive

+t("woo_variations_form")
+woo_variations_form

include element/blog-home
include element/blog-single
include element/comment
include element/contact
include element/feature-brand
//- include element/feature-products
include element/feature-testimonial
include element/footer
include element/header-menu
include element/header-top
//- include element/list-portfolio
//- include element/list-product
include element/widget-bottom
include element/widget-mini
include element/widget
