#brand
  .container
    h3.title-wrap
      span
        | our brand
    ul.brand-content
      // start looping here from li
      li
        a.brand-list(href='#')
          img(alt='', src='dummy/brand/brand.png')
      li
        a.brand-list(href='#')
          img(alt='', src='dummy/brand/brand.png')
      li
        a.brand-list(href='#')
          img(alt='', src='dummy/brand/brand.png')
      li
        a.brand-list(href='#')
          img(alt='', src='dummy/brand/brand.png')
      li
        a.brand-list(href='#')
          img(alt='', src='dummy/brand/brand.png')
    // End .content
  // .container