include ../../asset/mixin

section#page-featured
      //- .slider
        #iview
          .iview-data(data-iview:thumbnail='photos/photo11_thumb.jpg')
            img(src='photos/photo11.jpg', alt='')
            .iview-caption.caption1(data-x='100', data-y='300', data-transition='expandDown') FINE TUNED, SLEEK & SMOOTH, THIS SLIDER WILL IMPRESS YOUR VISITORS
          .iview-data(data-iview:thumbnail='photos/photo12_thumb.jpg', data-iview:transition='block-drop-random', data-iview:pausetime='2000')
            img(src='photos/photo12.jpg', alt='')
            .iview-caption.caption1(data-x='100', data-y='300', data-transition='expandDown') FINE TUNED, SLEEK & SMOOTH, THIS SLIDER WILL IMPRESS YOUR VISITORS
          .iview-data(data-iview:thumbnail='photos/photo13_thumb.jpg')
            img(src='photos/photo13.jpg', alt='')
            .iview-caption.caption1(data-x='100', data-y='300', data-transition='expandDown') FINE TUNED, SLEEK & SMOOTH, THIS SLIDER WILL IMPRESS YOUR VISITORS
          .iview-data(data-iview:thumbnail='photos/photo14_thumb.jpg')
            img(src='photos/photo14.jpg', alt='')
            .iview-caption.caption1(data-x='100', data-y='300', data-transition='expandDown') FINE TUNED, SLEEK & SMOOTH, THIS SLIDER WILL IMPRESS YOUR VISITORS
