section.intro
  .container
      h2.intro-title
        | welcome to the shop
      p.intro-text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, voluptate, molestiae, hic at qui inventore ipsa nisi architecto obcaecati numquam tempora fuga nemo enim unde tenetur nesciunt necessitatibus nihil quidem.
// End intro