section.products-wrap.filter-product.cl
  h2.title-section
    span Products Filter
  ul.button-filter.add-clearfix.reset-list
    li.active(data-value='all')
      a(href='#') All
    li(data-value='tsirt')
      a(href='#') t-sirt
    li(data-value='jeans')
      a(href='#') Jeans
    li(data-value='bags')
      a(href='#') Bags
  ul.wrap-item-list.products.products-mini
    li.item-list.product(data-type='tsirt')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_simple(href='#') Add to cart
            // <a href="#" class="added_to_cart" title="View Cart &#x2192;">View Cart &#x2192;</a>
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='bags')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_simple(href='#') Add to cart
            // <a href="#" class="added_to_cart" title="View Cart &#x2192;">View Cart &#x2192;</a>
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='tsirt')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.add_to_cart_button.button(href='#') view product
            a.to-whislist(href='#')
              | add to whislist
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='jeans')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_variable(href='#') Select options
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='tsirt')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_simple(href='#') Add to cart
            // <a href="#" class="added_to_cart" title="View Cart &#x2192;">View Cart &#x2192;</a>
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='tsirt')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_simple(href='#') Add to cart
            // <a href="#" class="added_to_cart" title="View Cart &#x2192;">View Cart &#x2192;</a>
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='jeans')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_simple(href='#') Add to cart
            // <a href="#" class="added_to_cart" title="View Cart &#x2192;">View Cart &#x2192;</a>
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='bags')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_simple(href='#') Add to cart
            // <a href="#" class="added_to_cart" title="View Cart &#x2192;">View Cart &#x2192;</a>
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='jeans')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.add_to_cart_button.button(href='#') view product
            a.to-whislist(href='#')
              | add to whislist
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='bags')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_variable(href='#') Select options
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='tsirt')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_simple(href='#') Add to cart
            // <a href="#" class="added_to_cart" title="View Cart &#x2192;">View Cart &#x2192;</a>
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
    li.item-list.product(data-type='bags')
      span.onsale Sale!
      .item-inner
        figure.product-img
          a(href='#')
            img.img1(alt='', src='dummy/product1.jpg')
            img.img2(alt='', src='dummy/product-shadow.jpg')
        .product-action
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width: 90%;')
              strong.rating 4.50
              | out of 5
          span.action
            a.button.product_type_simple(href='#') Add to cart
            // <a href="#" class="added_to_cart" title="View Cart &#x2192;">View Cart &#x2192;</a>
            a.to-whislist(href='#')
              | add to whis
          // End .action
        // End .product-action
      // End .item-inner
      article.product-info
        h3.title-product Woo Single #2
        span.price
          span.from From: 
          del
            span.amount £3
          ins
            span.amount £2
      // End .product-info
    // End .product
  // End .products
// End .products-wrap
