#widget-bottom.widget-bottom
  .inner.container
    .widget-col
        include widget-mini
    // End .widget-col
    .widget-col
        include widget-mini
    // End .widget-col
    .widget-col
        include widget-mini
    // End .widget-col
    .widget-col
        include widget-mini
    // End .widget-col
  // End .inner.container
// End #widget-bottom .widget-bottom

